:root {
  --primary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --revers-color: #2196f3;
}
/* ========= START COMPONENTS ========= */
body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-first-word {
  color: var(--revers-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}
/* ========= END COMPONENTS ========= */

/* ========= START STUDIO ========= */

/* ========= START HEAD ========= */
.header {
  border-bottom: 1px solid #ececec;
}

.nav-list-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.all-time-color {
  color: var(--revers-color);
}

.contact-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--revers-color);
}

.contact-list-link:hover .contact-list-icon,
.contact-list-link:focus .contact-list-icon {
  fill: var(--revers-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 92px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.mail {
  margin-right: 50px;
}

.contact-list-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
}
/* ========= END HEAD ========= */

/* ========= START HERO ========= */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/bg.png");
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--revers-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}
/* ========= END HERO ========= */

/* ========= START FEATURES ========= */
.features-list {
  display: flex;
}

.features-list-item {
  width: 270px;
}

.features-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.features-list-item-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ========= END FEATURES ========= */

/* ========= START WORK DESCRIPTION ========= */
.work-description {
  padding-bottom: 94px;
}

.work-description-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work-description-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* ========= END WORK DESCRIPTION ========= */

/* ========= START TEAM ========= */
.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list-item {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member-box {
  padding: 30px 30px;
}

.team-member-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-member-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list-icon {
  fill: #afb1b8;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}
/* ========= END TEAM ========= */

/* ========= START REGULAR CLIENTS ========= */
.regular-clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.regular-clients-list {
  display: flex;
  justify-content: space-between;
}

.regular-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.regular-clients-icon {
  fill: #afb1b8;
}

.regular-clients-link:hover,
.regular-clients-link:focus {
  border-color: var(--revers-color);
}

.regular-clients-link:hover .regular-clients-icon,
.regular-clients-link:focus .regular-clients-icon {
  fill: var(--revers-color);
}
/* ========= END REGULAR CLIENTS ========= */

/* ========= START FOOTER ========= */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.revers-logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.another-color {
  color: #ffffff;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #ffffff;
}

.right-section {
  margin-top: 12px;
  margin-left: 70px;
  margin-right: auto;
}

.footer-links-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-links-list {
  display: flex;
}

.footer-links-list-item {
  display: flex;
}

.footer-links-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-links-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer-links-list-link:hover,
.footer-links-list-link:focus {
  background: var(--revers-color);
}

.footer-links-list-icon {
  fill: #ffffff;
}
/* ========= END FOOTER ========= */

/* ========= END STUDIO ========= */

/* ========= START PORTFOLIO ========= */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--revers-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.work-list-link {
  display: block;
}

.work-list-link:hover,
.work-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.border-box {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.work-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.work-item-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ========= END PORTFOLIO ========= */
